/* CSS */
.reference.external:link,
.reference.external:visited {
  padding-left: 18px !important;
}

/**************************************************************************
 * BREADCRUMBS
 * ***********************************************************************/
/* Hide breadcrumbs by default */
#breadcrumbs {
  display: none;
}
#breadcrumbs a:hover {
  background-color: transparent;
}

/**************************************************************************
 * BODY
 * ***********************************************************************/
body {
  color: #000;
  background: #fff;
  /* 1em = 10px */
  font-size: 62.5%;
  font-family: "Verdana", "Bitstream Vera Sans", "DejaVu Sans", sans-serif;
}

#message a {
  padding: 0;
  margin: 0;
  border: none;
}

#main-table {
  width: 950px;
  margin: auto;
}

#main-table {
  /* cellspacing */
  border-collapse: separate;
  border-spacing: 0;
}

#main-table td {
  /* cellspacing */
  padding: 0;
}

#content-table {
  width: 100%;
}

#td-contentbar {
  width: 66%;
  vertical-align: top;
}

#td-sidebar {
  width: 34%;
  vertical-align: top;
}

/**************************************************************************
 * BACK OFFICE
 * ***********************************************************************/
#tabs {
  padding: 5px 0;
}

#tabs .menu a:hover,
#tabs td.active .menu a,
#tabs .submenu a:hover {
  background-color: #444444;
}

#tabs ul {
  margin: 0 !important;
  padding: 0 !important;
}

#backoffice {
  text-align: right;
}

#backoffice a, #backoffice a:hover, #backoffice a:visited {
  text-decoration: none;
  color: #ddd;
}

/**************************************************************************
 * HEADER
 * ***********************************************************************/
#banner-wrapper {
  width: 100%;
  display: block;
}

#banner-wrapper #banner {
  float: left;
  color: #444;
  font-size: 1.6em;
  text-decoration: none;
  margin: 15px 0 10px 15px;
}

#banner-wrapper #right-wrapper {
  float: right;
  text-align: right;
}

#languages {
  margin-top: 4px;
  float: right;
}

#languages a {
  padding: 2px 5px;
  background-color: #444444;
  color: #fff;
  text-decoration: none;
  border: 1px solid #444444;
  margin-right: 1px;
}

#languages a:hover, #languages a.selected {
  background-color: #fff;
  color: #444444;
  border: 1px solid #444444 !important;
}

#languages a.end {
  border-right: 1px solid #fff;
}

#banner-wrapper .fo-edit {
  float: right;
  margin-right: 20px;
  padding-top: 4px;
}

#banner-wrapper .fo-edit a {
  text-decoration: none;
  color: #444444;
}

#banner-wrapper #search-form {
  padding-top: 5px;
  text-align: right;
}

#banner-wrapper #search-form input {
  padding-top: 1px;
  padding-bottom: 1px;
}

#banner-wrapper #search-form input.button-search {
  margin-top: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 22px;
  height: 22px;
}

/**************************************************************************
 * FOOTER
 * ***********************************************************************/
#footer {
  border-top: 1px solid #000;
  color: #444;
  text-align: left;
  height: 35px;
  font-size: 1.0em;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 0px;
}

#footer a, #footer a:hover, #footer a:visited {
  color: #444;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 0px;
}

#footer span {
  margin-left: 5px;
  margin-right: 5px;
}

/* TinyMce content */
#footer p {
 display:  inline;
}

/**************************************************************************
 * WRAPPER & TURNING FOOTER
 * ***********************************************************************/
/* Minimal height */
/* Firefox & IE7 */
#wrapper > #content {
  min-height: 400px;
  height: auto;
}

/* IE 6 & <*/
* html #content{
  height: 400px;
}

#wrapper, #turning-footer {
  font-size: 1.15em;
  vertical-align: top;
}

#wrapper h1,
#turning-footer h1 {
  font-size: 1.4em;
  margin: 1em 1em .5em 0em;
}

#wrapper h1 > a,
#turning-footer h1 > a {
  text-decoration: none;
}

#wrapper h2,
#turning-footer h2 {
  font-size: 1.3em;
  margin: 0.95em 0.95em 0.5em 0em;
}

#wrapper h3,
#turning-footer h3 {
  font-size: 1.2em;
  margin: 0.90em 0.90em 0.5em 0em;
}

#wrapper h4,
#turning-footer h4 {
  font-size: 1.1em;
  margin: 0.85em 0.85em 0.5em 0em;
}

#wrapper h5,
#turning-footer h5 {
  font-size: 1.1em;
  margin: 0.80em 0.80em 0.5em 0em;
}

#wrapper h6,
#turning-footer h6 {
  font-size: 1em;
  margin: 0.75em 0.75em 0.5em 0em;
}

#wrapper a,
#turning-footer a {
  padding-left: 0px;
}

#wrapper p {
  margin: .5em 1em .5em 0;
}

#wrapper ul,
#turning-footer ul {
  margin-left: 2em;
  margin-right: 1em;
  padding-left: 15px;
}

#wrapper ul li,
#turning-footer ul li {
  list-style: square outside none;
}

#wrapper ol li,
#turning-footer ol li {
  list-style: decimal outside none;
}

#wrapper a,
#wrapper a:link,
#turning-footer a:link,
#turning-footer a {
  color: #444444;
}

#wrapper a:visited,
#wrapper a:hover,
#turning-footer a:visited,
#turning-footer a:hover {
  color: #555;
}

#wrapper a img,
#turning-footer a img {
  border: 0;
}

/**************************************************************************
 * TURNING FOOTER
 **************************************************************************/
#turning-footer {
  margin: 5px 0;
}

#turning-footer .content {
  text-align: right;
}

#turning-footer p {
  margin: 0;
}

/*
 * CONTENTBAR
 */
.contentbar-item.ws-neutral-item-articles,
.contentbar-item.contentbar-item-articles,
.contentbar-item.contentbar-item-children-toc {
  position: relative;
}

.contentbar-item.ws-neutral-item-articles > .admin-bar,
.contentbar-item.contentbar-item-articles > .admin-bar,
.contentbar-item.contentbar-item-children-toc > .admin-bar {
  right: 0;
}

/**************************************************************************
 * SIDEBAR
 **************************************************************************/
#td-sidebar ul {
  margin-left: 0;
}

.sidebar-item {
  background-color: #EFF5D4;
  padding: 12px 24px;
  margin-bottom:10px;
}

.sidebar-item-news-siblings-toc .newsitem {
  margin-bottom: 10px;
  border-bottom: 1px dotted;
}

/* section news */
.sidebar-item-section-news .newsitem {
  border-bottom: 1px dotted;
  padding-bottom: 10px;
  padding-top: 5px;
}

.sidebar-item-section-news .newsitem.first {
  padding-top: 0;
}

.sidebar-item-section-news .newsitem.last {
  border-bottom: none;
}

.sidebar-item-section-news .newsitem .image-link {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
}

.sidebar-item-section-news .newsitem .newsitem-date {
  /* padding-bottom: 5px; */
}

/**************************************************************************
 * TAGS
 * ***********************************************************************/
#tag-view .item {
  border-bottom: 1px dashed #000;
}

/**************************************************************************
 * MANAGE VIEW
 * ***********************************************************************/
body .neutral-manage-view #content .manage-ul,
body .neutral-ws-data-manage-view #content .manage-ul,
body .section-manage-view #content .manage-ul {
  padding: 0;
  margin: 0;
  width: 40%;
}

body .neutral-manage-view #content .manage-ul.left,
body .neutral-ws-data-manage-view #content .manage-ul.left,
body .section-manage-view #content .manage-ul.left {
  float: left;
}

body .neutral-manage-view #content .manage-ul.right,
body .neutral-ws-data-manage-view #content .manage-ul.right,
body .section-manage-view #content .manage-ul.right {
  float: right;
  margin-left: 5%;
}

body .neutral-manage-view #content .manage-ul li,
body .neutral-ws-data-manage-view #content .manage-ul li,
body .section-manage-view #content .manage-ul li {
  list-style: none;
  padding: 2px 0 2px 24px;
}

/* disable */
body .neutral-manage-view #content .manage-ul li.disable span,
body .neutral-ws-data-manage-view #content .manage-ul li.disable span,
body .section-manage-view #content .manage-ul li.disable span {
  color: #888A85;
}

/* children */
body .neutral-manage-view #content .manage-ul li.child,
body .neutral-ws-data-manage-view #content .manage-ul li.child,
body .section-manage-view #content .manage-ul li.child {
  margin-left: 24px;
}

body .neutral-manage-view .manage-ul .edit,
body .neutral-manage-view .manage-ul .tags,
body .neutral-manage-view .manage-ul .robotstxt,
body .section-manage-view .manage-ul .edit {
  background: url('/ui/icons/16x16/text.png') top left no-repeat;
}

body .neutral-manage-view .manage-ul .menu,
body .neutral-manage-view .manage-ul .footer,
body .neutral-manage-view .manage-ul .turning-footer,
body .neutral-manage-view .manage-ul .controlpanel {
  background: url('/ui/icons/16x16/select_all.png') top left no-repeat;
}

body .neutral-manage-view .manage-ul .manage-404 {
  background: url('/ui/icons/16x16/error.png') top left no-repeat;
}

body .neutral-manage-view .manage-ul .css {
  background: url('/ui/icons/16x16/css.png') top left no-repeat;
}

body .neutral-manage-view .manage-ul .repository {
  background: url('/ui/bar_items/icons/16x16/repository.png') top left no-repeat;
}

body .neutral-manage-view .manage-ul .add,
body .neutral-ws-data-manage-view .manage-ul .add,
body .section-manage-view .manage-ul .add {
  background: url('/ui/icons/16x16/add.png') top left no-repeat;
}

body .neutral-manage-view .manage-ul .order,
body .neutral-ws-data-manage-view .manage-ul .order,
body .section-manage-view .manage-ul .order {
  background: url('/ui/common/icons/16x16/sort.png') top left no-repeat;
}

body .neutral-manage-view .manage-ul .order.disable,
body .neutral-ws-data-manage-view .manage-ul .order.disable,
body .section-manage-view .manage-ul .order.disable {
  background: url('/ui/common/icons/16x16/sort_disable.png') top left no-repeat;
}
