/************************************
 * Administration bar
 ************************************/
#admin {
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 5px 0;
  float: middle;
  height: 25px;
  background: url('/ui/k2/admin-background.png') repeat-x;
}

#admin table {
  margin: 0 auto;
  padding: 0 5px;
}

#admin table td {
  padding-right: 40px;
  vertical-align: top;
}

#admin table td:last-child {
  padding-right: 0;
}

#admin ul {
  margin: 0;
  padding: 0;
}

#admin ul li {
  display: inline;
}

#admin ul li a,
#admin ul li span {
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  background-color: #FFF;
  border-left: 1px solid #333333;
  border: 1px solid #333;
  border-right: 0;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  color: #000;
  float: left;
  font-size: 10px;
  height: 15px;
  line-height: 15px;
  margin: 0px;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
}

#admin ul li span {
   -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  background-color: #333;
  border-radius: 5px 0 0 5px;
  color: #FFF;
}


#admin ul li a:hover {
  background-color: #D8D8D8;
  color: #000;
}

#admin ul li a.active {
  background-color: #D8D8D8;
  font-weight: bold;
  color: #000;
}

#admin ul li:last-child a {
  border-right: 1px solid #333;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

/**************************************************************************
 * ADMIN BAR
 **************************************************************************/
.admin-icons-bar {
  background-image: url('/ui/common/images/empty-background.png');
  padding: 6px 12px;
}

.admin-icons-bar table td {
  text-align: left;
  width: 150px;
  font-weight: bold;
  vertical-align: top;
}

.admin-icons-bar img {
  float: left;
}

.admin-icons-bar a {
  text-decoration: none;
}

.admin-bar {
  -moz-border-radius: 0 0 7px 0;
  -webkit-border-radius: 0 0 7px 0;
  border-radius: 0 0 7px 0;

  position: absolute;
  background-color: #D3D7CF;
  opacity: 0.9;
  padding: 0 3px 3px 0;
  z-index: 1000;
}

.admin-bar a {
  text-decoration: none;
}

