body {
  background: #eee;
  font-size: 62.5%;
  font-family: "Verdana", "Bitstream Vera Sans", "DejaVu Sans", sans-serif;
}

/**************************************************************************
 * MESSAGE
 * ***********************************************************************/
#message a {
  padding: 0;
  margin: 0;
  border: none;
}

#message .info {
  border-color: #333;
  background-color: #ccc;
  color: #000;
}

/**************************************************************************
 * PAGE
 * ***********************************************************************/
#page {
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 0 5px 5px 5px;
  -webkit-border-radius: 0 5px 5px 5px;
  border-radius: 0 5px 5px 5px;

  border-color: currentColor #ddd #ddd;
  border-right: 1px solid #ddd;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  clear: both;
  margin: 20px auto;
  position: relative;
  text-align: left;
  width: 960px;
  background: #fff;
}

/**************************************************************************
 * HEADER
 * ***********************************************************************/
#header {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;

  position: relative;
  height: 200px;
  background: #444;
}

#header .login {
  padding: 4px;
  position: absolute;
  left: 0;
  top: 0;
}

#header .login a,
#header .login span {
  color: #fff;
}

#header .title {
  text-align: center;
  padding-top: 75px;
}

#header .title a {
  color: #fff;
  font-size: 2.6em;
  text-decoration: none;
}

/* header toolbar */
#header .header-toolbar {
  -moz-border-radius: 0 5px 0 5px;
  -webkit-border-radius: 0 5px 0 5px;
  border-radius: 0 5px 0 5px;

  background: #333;
  color: #000;
  font-size: 1.1em;
  position: absolute;
  right: 0;
  top: 0;
}

#header .header-toolbar td {
  padding: 8px 4px;
}

/* toolbar link */
#header .header-toolbar a,
#header .header-toolbar a:link {
  color: #fff;
  text-decoration: none;
}
#header .header-toolbar a:hover,
#header .header-toolbar a:visited {
  color: #ddd;
}

#header .header-toolbar input,
#header .header-toolbar button {
  border: 1px solid #bbb;
  float: left;
  height: 16px;
}

#header .header-toolbar .button-search {
  background-position: 50% 50%;
  width: 30px; /* IEx left-padding:24px + right-padding: 6px */
  height: 22px;
  margin-left: 5px;
  padding: 1px 6px 1px 16px;
}

#header .header-toolbar button span {
  visibility: hidden;
}

#languages a,
#languages a:link {
  text-transform: uppercase;
  margin: 0;
  padding: 0 5px 0 2px; /* There is something strange should be {0 5px} */
  border-right: 1px solid #bbb;
}

#languages a.first {
  padding-left: 0;
}

#languages a.last {
  margin-right: 0;
  border-right: 0;
  padding-right: 0;
}

#header #languages a.selected {
  text-decoration: underline;
}


/**************************************************************************
 * MENU
 * ***********************************************************************/
#nav {
  font-size: 1.1em;
}

#nav ul {
  bottom: 0;
  padding-left: 0;
  margin: 0 20px;
  position: absolute;
  white-space: nowrap;
}

#nav ul li {
  float: left;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-right: 4px;
  margin-top: 4px;
}

#nav ul li a {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;

  display: block;
  font-size: 1em;
  padding: 5px 15px;
  text-decoration: none;
  /* normal style */
  background: #333;
  color: #fff;
}

#nav ul li a:hover {
  background: #ccc;
  color: #000;
}

#nav ul li.in-path a {
  background: #fff;
  color: #333;
}

/**************************************************************************
 * CONTENT
 * ***********************************************************************/
/* Minimal height */
/* Firefox & IE7 */
#page > #content {
  min-height: 400px;
  height: auto;
}

/* IE 6 & <*/
* html #content{
  height: 400px;
}

#content {
  font-size: 1.15em;
  padding: 10px 15px 30px;
}

#content a,
#content a:link {
  color: #444;
}

#content a:hover,
#content a:visited {
  color: #555;
}

#content h1 {
  font-size: 1.4em;
  margin: 1em 1em .5em 0em;
}

#content h2 {
  font-size: 1.3em;
  margin: 0.95em 0.95em 0.5em 0em;
}

#content h3 {
  font-size: 1.2em;
  margin: 0.90em 0.90em 0.5em 0em;
}

#content h4 {
  font-size: 1.1em;
  margin: 0.85em 0.85em 0.5em 0em;
}

#content h5 {
  font-size: 1.1em;
  margin: 0.80em 0.80em 0.5em 0em;
}

#content h6 {
  font-size: 1em;
  margin: 0.75em 0.75em 0.5em 0em;
}

/**************************************************************************
 * LOCATIONS
 * ***********************************************************************/
#location {
  width: auto; /* Fix IE6 */
}

#breadcrumbs a:hover,
#tabs .menu a:hover {
  background-color: #333;
  color: #fff;
}
/**************************************************************************
 * Input, buttons, fieldset
 * ***********************************************************************/
input, textarea, select{
  border: 1px solid gray;
  padding: 2px;
}

/* IE7 fix */
input[type=radio],
input[type=checkbox] {
  border: none;
}

button, .button{
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  -moz-box-shadow:0 0 3px #CCCCCC;
  -webkit-box-shadow:0 0 3px #CCCCCC;
  box-shadow:0 0 3px #CCCCCC;

  background-color: #FFF;
  border:1px solid #CCCCCC;
  cursor: pointer;
  padding: 5px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding-left: 24px !important;
  text-decoration: none;
}

button:hover, button:focus {
  -moz-box-shadow:0 0 3px #999999;
  -webkit-box-shadow:0 0 3px #999999;
}

button.button-selector {
  /* Do not force padding left to selector button */
  padding-left: 5px !important;
}

fieldset{
  background-color: #F9F9F9;
  border: 1px solid #DDDDDD;
}

fieldset legend{
  padding: 3px 0px;
  color: #333333;
}


/**************************************************************************
 * CONTENTBAR
 * ***********************************************************************/
#contentbar {
  width: 640px;
  float: left;
  overflow: hidden;
  padding-bottom: 0.6em;
}
#contentbar.large {
  width: 930px;
}

#content .batch-numerotation {
  padding-left: 0;
  margin: 0;
}

/**************************************************************************
 * SIDEBAR
 * ***********************************************************************/
#sidebar {
  width: 270px;
  float: right;
  padding-top: 0;
  overflow-x: hidden;
}

.sidebar-box {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;

  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 5px 10px;
  /* Fix IEx */
  width: 248px; /* 270 - 1 (border-left) - 10 (padding-left) - 1 (border-right) - 10 (padding-right) */
}

#contentbar .sidebar-box {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

  border: 0;
  width: auto;
}

.sidebar-box h3.title {
  border-bottom: 1px solid #bbb;
  color: #000;
  font-family: Tahoma;
  font-weight: normal;
  line-height: 1.2em;
  font-size: 1.4em;
  margin: 0 0 0.5em 0;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

#content .sidebar-box h3.title {
  margin-top: 0;
}

.sidebar-box h3.title a {
  text-decoration: none;
}

#sidebar .content {
  width: 248px;
  overflow: hidden;
}

.sidebar-box ul {
  padding-left: 0;
  margin: 0 0 0 16px;
}

.sidebar-box ul li.active > a,
.sidebar-box ul li.in-path > a {
  text-decoration: none;
  font-weight: bold;
}

/* section news */
.box-section-news .newsitem {
  border-bottom: 1px dotted #999;
  padding-bottom: 10px;
  padding-top: 5px;
}

.box-section-news .newsitem.first {
  padding-top: 0;
}

.box-section-news .newsitem.last {
  border-bottom: none;
  padding-bottom: 0;
}

.box-section-news .newsitem .image-link {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px;
}

.box-section-news .newsitem .newsitem-date {
  /* padding-bottom: 5px; */
}

.box-section-news .more {
  float: right;
}

/* section siblings */
.box-news-siblings-toc .newsitem.active {
  border-left: 5px solid #bbb;
  padding-left: 5px;
}

/* news sibings toc */
.box-news-siblings-toc .newsitem {
  margin-bottom: 8px;
}

.box-news-siblings-toc .newsitem-date {
  text-align: right;
}

.box-news-siblings-toc .newsitem-title p {
  margin: 0;
}

.box-news-siblings-toc .newsitem-title a {
  text-decoration: none;
}

/* tree */
.box-section-children-toc .admin-link {
  float: right;
}

/**************************************************************************
 * NEWS FOLDER
 * ***********************************************************************/
#page.news-folder-view {
}

#page.news-folder-view .item {
  border-bottom: 1px dotted #999;
  padding-bottom: 10px;
  padding-top: 10px;
}

#page.news-folder-view .item .pub-datetime {
  float: left;
  padding-right: 8px;
  font-family: Tahoma, sans-serif;
  font-style: italic;
}

#page.news-folder-view .item .tag {
  float: left;
}

#page.news-folder-view .item h3.title {
  clear: both;
  border: none;
  margin-right: 0;
  margin-top: 0; /* IE7 fix */
}

#page.news-folder-view .item h3.title a {
  text-decoration: none;
}

#page.news-folder-view .item .image-link {
  float: left;
  padding: 0 5px 5px 0;
}

#page.news-folder-view .item .more {
  float: right;
  margin-top: 10px;
}

/**************************************************************************
 * TURNING FOOTER
 * ***********************************************************************/
#turning-footer {
  border-top: 1px solid #dcdcdc;
  padding: 10px 5px;
}

#turning-footer p {
  margin: 0;
}

#turning-footer p, #turning-footer a {
  color: #444;
}

/**************************************************************************
 * FOOTER
 * ***********************************************************************/
#footer {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;

  border-radius: 0 0 5px 5px;
  background: #444;
  padding: 10px 5px;
}

#footer p {
  margin: 0;
}

#footer p, #footer a {
  color: #fff;
}

/**************************************************************************
 * RSSFEEDS
 * ***********************************************************************/
#page.rssfeeds-view #contentbar {
  width: 930px;
}

#rss-body .rss-article {
  width: 640px;
  overflow-x: hidden;
}

#rss-menu {
  padding-left: 10px;
  width: 280px;
}

#rss-menu .rss-item {
  color: #000;
}

#rss-menu .rss-item h1 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.9em;
}

#rss-filter button {
   padding-left: 5px !important; /* no icon, no padding */
}

#export-opml a {
  background: url("/ui/common/images/opml_logo.png") no-repeat scroll left 50% transparent;
  height: 23px;
  padding: 3px 0 3px 19px;
}

/* Do not force contentbar width for specific views */
#page.tracker-view #contentbar,
#page.tracker-add-issue #contentbar,
#page.issue-edit #contentbar,
#page.wikipage-edit #contentbar,
#page.news-edit #contentbar,
#page.repository-browse-content #contentbar,
#page.text-slash-css-edit #contentbar {
  min-width: 640px;
  width: auto;
}

/* Do not hide sidebar on wiki view, just add overflow:hidden to pre */
#page.wikipage-view #contentbar .literal-block {
  overflow: auto;
}

/**************************************************************************
 * Slideshow
 * ***********************************************************************/
#page.slide-view #contentbar {
  width: 100%;
}

/**************************************************************************
 * POPUP
 * ***********************************************************************/
body.popup {
  background-color: transparent;
}
body.popup #body {
  /* ikaaro default rules */
  padding: 10px;
  font-size: 1.4em;
}

body.popup a,
body.popup a:link {
  color: #444;
}

body.popup a:hover,
body.popup a:visited {
  color: #555;
}

body.popup p.tabme {
  border-bottom: 1px solid #333;
}

body.popup p.tabme a.selected {
  background: #333;
  color: #fff;
}

/**************************************************************************
 * JAVASCRIPT CALENDAR
 * ***********************************************************************/
.calendar .button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  background: none;
  border: 0;
  padding: 2px !important;
}

/*
 * Details view
 */
.details-view .item {
  border-bottom: 1px dotted #999;
  padding-bottom: 10px;
  padding-top: 10px;
}

.details-view .item .pub-datetime {
  float: left;
  padding-right: 8px;
}

.details-view .item .tag {
  float: left;
}

.details-view .item .image-link {
  float: left;
  padding: 0 5px 5px 0;
}

.details-view .item h3.title {
  clear: both;
  border: none;
  margin-right: 0;
}

.details-view .item h3.title a {
  text-decoration: none;
}

.details-view .item .more {
  float: right;
  margin-top: 10px;
}
