/**************************************************************************
 * Google Maps
 * ***********************************************************************/
#address-wrapper {
  width: 100%;
}

#address-wrapper tr.odd td,
#address-wrapper tr.even td {
  background-color: #fff;
}

#address-wrapper td {
  padding-bottom: 10px;
}

#address-wrapper .address {
  /* width: 150px; */
  float: left;
}

#address-wrapper .map {
  float: left;
}

