body {
  font-family: "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: #dcdcdc;
}

/* BO */
label.missing {
  color: red;
}

#main-table {
  margin: auto;
  width: 800px;
}

#content {
  vertical-align: top;
}

#content-table {
  width: 100%;
}

#content-table #td-contentbar {
  width: 66%;
  vertical-align: top;
}

#content-table #td-sidebar {
  width: 34%;
  vertical-align: top;
}

#wrapper-banner #banner-slot {
  text-align: center;
}

#backoffice {
  float: right;
}

#backoffice a, #backoffice a:hover, #backoffice a:visited {
  color: #e8e8e8;
}

.menu-box {
  width: 100%;
}

#nav {
  float: left;
}

#nav ul {
  margin: 0;
  padding: 0;
  float: left;
}

#nav li {
  list-style: none;
  display: inline;
}

#languages {
  float:right;
  padding-right: 5px;
}

#languages a, #languages a:hover, #languages a:visited {
  background: none;
  font-weight: normal;
}

#languages a {
  text-decoration: underline;
}

#languages a.selected {
  font-weight: bold;
  text-decoration: none;
  border-left: none; /* ie */
}

#languages a.not-available {
  color: #dcdcdc;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #201050;
  text-align:left;
  padding:2px 0px;
  margin: 0px;
}

h6 {
  font-size: 96%;
  font-weight: bold;
  color: black;
  padding-bottom: 0px;
  padding-top: 16px;
}

h5 {
  font-size: 100%;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 2px;
}

h4 {
  font-size: 130%;
}

h3 {
  font-weight: bold;
  font-size: 130%;
}

h2 {
  font-weight: bold;
  font-size: 160%;
  padding-bottom: 2px;
  padding-top: 4px;
}

h1 {
  font-weight: bold;
  padding-top: 4px;
  font-size: 180%;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-top: 4px;
  letter-spacing: 1px;
}

p {
  padding-top: 4px;
  padding-bottom: 2px;
}

p.nopad {
  padding-top: 0px;
  padding-bottom: 0px;
}

code {
  font-family: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  text-align:left;
}

pre {
  display: block;
  padding: 6px;
}

a {
  text-decoration: none;
  color: #0000b0;
}

a:hover {
  color: #0000a0;
  background-color: #e4e4ff;
}

ul {
  list-style-type:circle;
  list-style-position:outside;
}

.bande {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  position:relative;
}

.bande a {
  color: #ffffff;
  text-decoration: none;
}

.bande a:hover {
  color: #ffffff;
  background-color: #ffffff;
  text-decoration: none;
}

#logo {
  margin-top: 8px;
  background-color: transparent;
}

#logo a, #logo a:hover, #logo a:visited, #logo a:active, #logo a:focus {
  text-decoration: none;
  background: none;
}

#logo img {
  position:relative;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px;
  border:0px;
}

div.edit-button {
  text-align: right;
}

div.edit-button a {
  color: red;
}

.submenu {
  z-index: 2;
}

/**************************************************************************
 * Menu *
 **************************************************************************/
.menubox {
  position:relative;
  width: 784px;
  padding: 0px 8px 12px 8px;
  top:8px;
  font-family: "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  height: 22px;
  font-size: 13px;
  color: #201050;
  margin:0px;
}

.menubox a {
  color: #201050;
  padding: 2px;
  text-decoration: none;
}

.menubox a:hover {
  color: #201050;
  background-color: #fff;
}

.menubox ul.active a, .menubox ul.in-path a {
  color: #201050;
  background-color: #dcdcdc;
}

.menubox ul li a {
  padding-left: 5px;
  padding-right: 5px;
  border-right: 1px solid #201050;
}

.menubox ul.first li a {
  padding-left: 0;
}

.menubox ul.last li a {
  padding-right: 0;
  border-right: none;
}

.right-submenu-title {
  color:#201050;
  font-size:130%;
  font-weight:bold;
  margin:0;
  padding:2px 0;
  text-align:left;
  padding-bottom:10px;
}

.right-submenu-title .manage {
  font-size: 0.8em;
  font-weight: normal;
}

.right-submenu .active {
  color: #0000a0;
  background-color: #e4e4ff;
}

.rm,.rm0,.rm1,.rm0s,.rm1s {
  margin:0px;
  padding:2px 0px 0px 0px;
  font-size: 11px;
  font-weight: bold;
}

p.rm {
  padding-bottom:4px;
}

a.rm0 {
  color: #5050ff;
  text-decoration: none;
}

a.rm0:hover {
  color: #2020ee;
  background-color: #e4e4ff;
}

a.rm0s {
  color: #b0b0ff;
  text-decoration: none;
}

a.rm0s:hover {
  color: #e4e4ff;
  background-color: #ffffff;
}

.rm1 {
  margin-left:20px;
  padding:0px 0px 0px 0px;
}

a.rm1 {
  color: #ff5050;
  text-decoration: none;
}

a.rm1:hover {
  color: #ee2020;
  background-color: #e4e4ff;
}

.red {
  color:#ff2020;
}

.smtitle {
  font-weight: bold;
  font-size: 92%;
}

strong {
  font-weight: bold;
}

.lines {
  position:relative;
  width: 100%;
  top:0px;
  left:0px;
  margin:0px;
  padding:0px 0px 0px 0px;
}

.hr {
  position:absolute;
  width:100%;
  left:0px;
  top:16px;
  padding-bottom:0px;
  border-top:#909090 1px solid;
}

.left {
  position:absolute;
  top:2px;
  left:0%;
  width:40%;
  text-align:left;
}

.right {
  position:absolute;
  top:2px;
  right:0%;
  width:30%;
  text-align:right;
}

.center {
  position:absolute;
  top:2px;
  left:40%;
  width:30%;
  text-align:center;
}

.footer {
  position:relative;
  width:98%;
  top:12px;
  left:1%;
  margin:0px;
  padding:14px 0px 40px 0px;
  font-size: 10px;
  color: #404040;
}

.footer a {
  text-decoration: none;
  color: #404040;
}

.footer a:hover {
  color: #202080;
}

#td-contentbar {
  margin:0px;
  position:relative;
  left:0px;
  top:0px;
}

#td-sidebar {
  padding-left: 12px;
  margin:0px;
  position:relative;
  left:0px;
  top:0px;
}

.box h4 {
  font-weight: normal;
  text-align:left;
  padding:2px 0px 2px 0px;
  font-size: 130%;
  color: #201050;
  margin:0px;
}

.box h3 {
  font-weight: bold;
  text-align:left;
  padding:2px 0px 2px 0px;
  font-size: 130%;
  color: #201050;
  margin:0px;
}

.box small {
  font-size: 90%;
  font-weight: normal;
  text-align:left;
  padding: 0px;
  color: #403040;
  margin:0px;
}

.big {
  background-color:#ffffff;
  width:100%;
  position:relative;
  padding:0px 4px 4px 4px;
  font-size: 18px;
  color: #000000;
}

.big h3 {
  color: #000000;
  font-weight: bold;
  text-align:center;
  padding:2px 0px 2px 0px;
  font-size: 200%;
  margin:0px;
}

.big h1 {
  color: #000000;
  font-weight: bold;
  padding-top: 4px;
  font-size: 300%;
  text-align:center;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-top: 4px;
  letter-spacing: 1px;
}

.big a:hover {
  text-decoration: underline;
  background-color: #ffffff;

}


/**************************************************************************
 * Box *
 **************************************************************************/
.box {
  background-color:#ffffff;
  width:100%;
  position:relative;
  padding:0px;
  margin-bottom:10px;
}

.box-hg {
  background-image:url(images/hg.gif);
  background-repeat:no-repeat;
  left:0px;
  background-position:left top;
  width:10px;
  height:10px;
  position:absolute;
}

.box-hd {
  background-image:url(images/hd.gif);
  background-repeat:no-repeat;
  right:0px;
  background-position:right top;
  width:10px;
  height:10px;
  position:absolute;
}

.box-bg {
  background-image:url(images/bg.gif);
  background-repeat:no-repeat;
  bottom:0px;
  background-position:left bottom;
  width:10px;
  height:10px;
  position:absolute;
}

.box-bd {
  background-image:url(images/bd.gif);
  background-repeat:no-repeat;
  bottom:0px;
  right:0px;
  background-position:right bottom;
  width:10px;
  height:10px;
  position:absolute;
}

.box-content {
  padding:12px 24px 12px 24px;
  text-align:left;
  color: #202020;
}

.box-content.active {
  border-left: 8px solid #DCDCDC;
  padding-left: 16px;
}

/*
 * IE6 Only
 * -> Side effect
 */
.box-content a.active {
  border-left: none;
  padding-left: 0;
}

/**************************************************************************
 * Big Box *
 **************************************************************************/
.bigbox {
  position:relative;
  width: 100%;
  top:0px;
  left:0%;
  margin:8px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  background-color: #f4f4f8;
}

.bigbox-in {
  padding: 12px;
}

.bigb-hg {
  background-image:url(images/ghg.gif);
  background-repeat:no-repeat;
  left:0px;
  background-position:left top;
  width:10px;
  height:10px;
  position:absolute;
}

.bigb-hd {
  background-image:url(images/ghd.gif);
  background-repeat:no-repeat;
  right:0px;
  background-position:right top;
  width:10px;
  height:10px;
  position:absolute;
}

.bigb-bg {
  background-image:url(images/gbg.gif);
  background-repeat:no-repeat;
  bottom:0px;
  background-position:left bottom;
  width:10px;
  height:10px;
  position:absolute;
}

.bigb-bd {
  background-image:url(images/gbd.gif);
  background-repeat:no-repeat;
  bottom:0px;
  right:0px;
  background-position:right bottom;
  width:10px;
  height:10px;
  position:absolute;
}

#right-items-order-form table {
  width: 100%;
}

#right-items-order-form .preview {
  width: 224px;
}

/*
 * Hauteur minimale Big Box
 */
/* Firefox & IE7 */
.bigbox > .bigbox-in {
  min-height: 400px;
  height: auto;
}

/* IE 6 & <*/
* html .bigbox-in {
  height: 400px;
}

/**************************************************************************
 * Breadcrumb *
 **************************************************************************/
#breadcrumbs {
  font-size: 1em;
}

#breadcrumbs a, #breadcrumbs span {
  color: #888A85;
}

/**************************************************************************
 * Section Subsections menu
 **************************************************************************/
#sub-sections-toc li.active a {
  color: #0000a0;
  background-color: #e4e4ff;
}

/**************************************************************************
 * Box
 * ***********************************************************************/
.bigb-hg, .bigb-hd, .bigb-bg, .bigb-bd,
.box-hg, .box-hd, .box-bg, .box-bd {
  display: block;
}

/**************************************************************************
 * Banner with search box
 * ***********************************************************************/

#banner {
  float: left;
}

#search-form {
  float: right;
  padding-top: 16px;
}

.button-search {
  margin-right:6px;
  padding-right:0;
}
