#header {
  height: 120px;
/* background: #a11; */

/* Image source: http://www.flickr.com/photos/joebeone/2240389708/ */
/* Image license: http://creativecommons.org/licenses/by/2.0/deed.en */
  background: url("../banner-itws/;download") no-repeat scroll 0 0 transparent;
}

#header .login,
#header .header-toolbar {
  background: #743831;
}

#header .title {
  text-align: right;
  padding-right: 10px;
  padding-top: 45px;
}

#header .title a {
  color: #743831;
}

#nav ul li a {
  background: #743831;
}

#nav ul li.in-path a {
  background: #ecc;
}
