.house_go { background-position: -20px -20px; }
.page_white_add { background-position: -20px -56px; }
.cog { background-position: -20px -92px; }
.folder_explore { background-position: -20px -128px; }
.folder_back { background-position: -20px -164px; }