.add { background-position: -20px -20px; }
.copy { background-position: -20px -56px; }
.paste { background-position: -20px -92px; }
.rename { background-position: -20px -128px; }
.delete { background-position: -20px -164px; }
.cut { background-position: -20px -200px; }
.private { background-position: -20px -236px; }
.public { background-position: -20px -272px; }
.css { background-position: -20px -308px; }
.error { background-position: -20px -344px; }
.edit { background-position: -20px -380px; }
.search { background-position: -20px -416px; }
.select_all { background-position: -20px -452px; }
.text { background-position: -20px -488px; }
.sort { background-position: -20px -524px; }
.sort_disable { background-position: -20px -560px; }
.ok { background-position: -20px -596px; }