.house_go { background-position: -2px -2px; }
.page_white_add { background-position: -2px -20px; }
.cog { background-position: -2px -38px; }
.folder_explore { background-position: -2px -56px; }
.folder_back { background-position: -2px -74px; }
.action_logout { background-position: -2px -92px; }